section.about#about
  .section-wrapper
    .fade-in
      h1 Hello, I'm Jacob.
      h3.section-subheading I'm a detail-oriented designer &amp; front-end developer that specializes in website design, brand identity, and digital illustrations.
      span.divider
      .about-wrapper
        img.headshot(src="/assets/img/headshot.jpg" alt="headshot")
        .about-text-wrapper
          p <strong>I like to create beautiful, usable, professional websites</strong> using best practice accessibility and the latest W3C web standards guidelines, resulting in SEO friendly XHTML and CSS.
          
          p I love learning new and better ways to create seamless user experiences with clean, efficient code. I consider work an ongoing learning expierence with each ongoing project, and I'm always looking for opportunities to work with those who are willing to share their knowledge as much as I want to learn. At the end of the day, my primary goal is to create something amazing with people that bring out the best in me.
          
          p <strong>When I'm not in front of a computer screen,</strong> I'm probably playing ice hockey, playing with my daughter, or working a comic convention.
