section.intro#intro
  .bg(data-anchor-target="#intro"
  data-bottom-top="transform: translate3d(0px, -150px, 0px);"
  data-top-bottom="transform: translate3d(0px, 150px, 0px);")

  .intro-wrapper
    .intro-body(data-anchor-target="#intro-section" data-top="opacity: 1;" data-top-bottom="opacity: 0;")
      .intro-content
        h1.heading(data-content="Jacob Webster")
          span.name Jacob Webster
        .action-wrapper
          p.subtext
            a.btn.main-action DESIGNER &amp; FRONT-END DEVELOPER
          
      .scroll-down-wrapper
        a.scroll-down(href="#about" title="About section")
          img.logo(src="{{site.baseurl}}/assets/img/logo-white.png" alt="scroll down")
          span.scroll-down-text Learn More
          
            svg.chevron(viewBox="0 0 57.942 105.958" enable-background="new 0 0 11.893 6.503")
              line(fill="none" stroke="#fff" stroke-width="7" stroke-miterlimit="10" x1="2.475" y1="2.475" x2="55.467" y2="55.466")
              line(fill="none" stroke="#fff" stroke-width="7" stroke-miterlimit="10" x1="55.467" y1="50.492" x2="2.475" y2="103.484")
      
