<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH5ZCRD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
{% if page.layout == "not_found" %}
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="{{site.baseurl}}/assets/js/particles.js"></script>
{% else %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<script>
  const contactform = document.getElementById('contactform');
  contactform.setAttribute('action', 'https:' + '//formspree.io/' + 'jacob.webster' + '@' + 'gmail' + '.' + 'com');
</script>
{% endif %}
